{% if link.page.slug is defined %}
    <a
        href="{{ path('page_show', { 'slug': link.page.slug }) }}"
        class="btn btn-mini pull-right"
        target="_blank"
        title="view help documentation for this page"
    >
        <span class="icon-question-sign"></span>
        Help
    </a>
{% else %}
    <a
        href="{{ path('link_new_by_route', { 'route': route|lower }) }}"
        class="btn btn-mini pull-right"
        target="_blank"
        title="create a new help wiki for this page"
    >
        <span class="icon-plus-sign"></span>
        New HelpWiki Page
    </a>
{% endif %}