<a
    href="{{ path('link_new_by_route', { 'route': route|lower }) }}"
    class="btn btn-xs btn-default pull-right"
    target="_blank"
    title="create a new help wiki for this page"
>
    <span class="fa fa-plus-circle"></span>
    New HelpWiki Page
</a>