<a
    href="{{ path('link_new_by_route', { 'route': route|lower }) }}"
    class="btn btn-mini btn-default pull-right"
    target="_blank"
    title="create a new help wiki for this page"
>
    <span class="icon-plus-sign"></span>
    New HelpWiki Page
</a>